<header class="header" >
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">APP</a>
      </div>
      <div class="collapse navbar-collapse" >
        <top-nav></top-nav>
      </div>
    </div>
  </div>
</header>

<section class="container" ui-view></section>

<footer class="footer" ng-include="'app/layout/footer.html'"></footer>
